.App {
  text-align: center;
}

.taskItem {
  display:flex;
  justify-content: space-between;
  align-items: center;
  width: 60vh;
  margin:auto;
  
}

.check-p {
  display:flex;
  align-items: center;
  gap: 8px
}

.line-through {
  text-decoration: line-through;
}
